.cabecalho {
    display: flex; 
    width: 100%;
}

.cabecalhoPrincipal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
    margin-right: 50px;
    margin-bottom: 15px;
    margin-left: 8%;
}

.cabecalhoNav{
    display: flex;
    padding: 40px;
    background-color: #18447c;
    width: calc(100% - 0);
    justify-content: space-around;
    align-items: center;
}

.cabecalhoNav-link {
    margin: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    margin-right: 70px;
}

